.create-post-component {
  width: 98%;
  max-width: 700px;
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.create-post-component > header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding: 12px;
}

.create-post-component > header > img {
  height: 100%;
  width: auto;
  margin-right: 12px;
  margin-left: 0 !important;
}

.create-post-component > header > div > h2 {
  margin: 0;
  width: fit-content;
  font-weight: 400;
  font-size: 1rem;
}

.create-post-component > header > div > p {
  margin: 0;
  width: fit-content;
  font-size: 0.8rem;
  color: #aaa;
}

.create-post-component > main {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.create-post-component > main > div {
  width: 100%;
}

.create-post-component > main > form {
  width: "100%";
  display: "flex";
  flex-direction: "column";
  justify-content: "flex-start";
}

.create-post-component > main > form > .discription-input {
  width: 90%;
}

.create-post-component > main .image-create-post {
  padding: 12px;
  margin-bottom: 20px;
}

.create-post-component > main > .image-upload-group {
  overflow-x: scroll;
}

.create-post-component > footer {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}

.create-post-component > footer > button {
  padding: 12px;
  border: none;
  border-radius: 12px;
  margin: 10px;
}
